[submodule "vendor/detours/Detours"]
	path = vendor/detours/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "rangers-sdk"]
	path = rangers-sdk
	url = https://github.com/angryzor/rangers-sdk.git
